<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prachet Shah</title>

    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="top-container">
      <img class="top-cloud" src="static/images/cloud.png" alt="cloud-pic">
      <h1>I'm Prachet,</h1>
      <h2 class="normal">a <span class="pro" > pro</span>grammer.</h2>
      <img class="middle-cloud" src="static/images/cloud.png" alt="cloud-pic">
      <img class="middle-cloud-2" src="static/images/cloud.png" alt="cloud-pic">
      <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-pic">
      <img src="static/images/mountain.png" alt="mountain-pic">
    </div>

    <div class="middle-container">
      <hr>
      <div class="profile">
        <img class="profile-pic" src="static/images/prachet.png" alt="Profile-pic">
        <h2>Hello.</h2>
        <p class="desciption">I am a First Year Engineering Student at <span><strong>DJSCE</strong></span>, pursuing B.Tech in CS(Data Science) and a keen learner.
          I love learning new things and I am a quick learner, a great team player, and love doing projects by applying
          the concepts I have taught myself over these years.✌
        </p>
      </div>
      <hr>

      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row1">
          <img class="code-img" src="https://image.flaticon.com/icons/png/512/924/924518.png" alt="code-img">
          <h3><br>Programming</h3>
          <p>Experienced programmer with strong knowledge of Python, C++ programming and Data Science </p><br><br>
        </div>

        <div class="skill-row2">
          <img class="project-logo" src="https://image.flaticon.com/icons/png/512/2683/2683274.png" alt="project-logo">
          <br><h3>Some Projects</h3>
          <p>Many Projects like Quizzler App, Rain Alert Application, Stock Market News Monitoring,
            Pomodoro Timer,Automated Birthday and Quotes Email Sender, Password Manager, French Learning Flash Card Program
             can be found on my GitHub Repository.
          </p>
            <a class="link-btn" href="https://github.com/PrachetShah/Python-100DaysOfCode">Link To Project</a>
        </div>
      </div>
      <br>
      <hr>
      <div class="contact-me">
        <h2><u>Get In Touch</u></h2>
        <h3>Have any projects to work on, or to just have some coffee, message me.</h3>
        <h3 class="thank-you">Thanks for visiting. ❤</h3>
        <a class="btn" href="mailto:prachetshah25@gmail.com">CONTACT ME</a>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/prachet-shah/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/prachet_shah">Twitter</a>
      <a class="footer-link" href="https://github.com/PrachetShah">GitHub</a>
      <p class="bottom-greeting">© 2021 Prachet Shah.</p>
    </div>



  </body>
</html>
